@charset "utf-8";
.hide
{
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
}
#wrap
{
  position: relative;
}
/* header */
header
{
  width: 100%;
  background-color: #FFFAF3;
  margin: auto;
}
header>h1
{
  height: 140px;
  text-align: center;
  padding: 60px 0 0;
}
header>h1>a>span
{
  color: #E09F25;
  font: bold 48px '나눔고딕스퀘어_ac',sans-serif;
}
header>h1>a>span:nth-child(2){color: #F1CE30;}
header>h1>a>span:nth-child(3),header>h1>a>span:nth-child(4){color: #9FC238;}
header>h1>a>span:nth-child(5),header>h1>a>span:nth-child(6){color: #2D4F9E;}
header>h1>a>span:nth-child(7){color: #F1CE30;}

/* nav */
#nav
{
  position: absolute;
  left: 0; top: 200px;
  height: 42px;
  width: 100%;
  background-color: #FFFAF3;
}
#nav:hover
{
  height: 240px;
}
#nav:hover>nav>ul>li>ul
{
  display: block;
}
nav
{
  padding: 10px 0;
  background-color: #F1CE30;
}
nav>ul
{
  width: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav>ul>li
{
  width: auto;
  position: relative;
}
nav>ul>li>a
{
  padding: 0 80px;
  font: bold 20px '나눔스퀘어_ac',sans-serif;
  color: #fff;
}
nav>ul>li>ul
{
  position: absolute;
  left: 0;
  top: 34px;
  width: 100%;
  display: none;
}
nav>ul>li>ul>li
{
  text-align: left;
  margin-left: 85px;
  padding-top: 10px;
  /* padding-bottom: 2px; */
}
nav>ul>li>ul>li>a
{
  font: 20px '나눔스퀘어_ac',sans-serif;
  color: #E09F25;
  background-color: #FFFAF3;
  text-align: center;
}

/* box01 */
#box01
{
  width: auto;
}
#box01>div
{
  width: 100%;
  height: 590px;
  overflow: hidden;
}
#box01>div>ul
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 110px; */
}
#box01>div>ul>li
{
  width: 100%;
  height: 590px;
  background: url(/image/event01.jpg) no-repeat center top;
  background-size: 100%;
  text-indent: -999999px;
}
#box01>div>ul>li:nth-child(2)
{
  background-image: url(/image/event02.jpg);
}
#box01>div>ul>li:nth-child(3)
{
  background-image: url(/image/event03.jpg);
}
#box01>div>ul>li:nth-child(4)
{
  background-image: url(/image/event04.jpg);
}

/* circle */
#box01>div>p.link
{
  position: absolute;
  top: 750px; left: 45%;
  /* background-color: #2D4F9E; */
}
#box01>div>p.link>a
{
  display: inline-block;
  width: 15px; height: 15px;
  border-radius: 50%;
  background-color: #fff;
  text-indent: -99999px;
  margin-left: 10px;
}
/* < > */
#box01>div>p.prev
{
  position: absolute;
  left: 116px;
  top: 486px;
  margin-top: -30px;
  width: 58px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  /* background-color: #2D4F9E; */
  cursor: pointer;
}
#box01>div>p.prev>i
{
  font-size: 45px;
  line-height: 58px;
  color: #fff;
}
#box01>div>p.next
{
  position: absolute;
  right: 116px;
  top: 486px;
  margin-top: -30px;
  width: 58px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  /* background-color: #2D4F9E; */
  cursor: pointer;
}
#box01>div>p.next>i
{
  font-size: 45px;
  line-height: 58px;
  color: #fff;
}

/* box02 */
#box02
{
  width: auto;
  height: 61px;
  border-bottom: 1px solid #8B8B8B;
}
#box02>div
{
  display: flex;
  width: auto;
  padding: 15px 0;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
#box02>div>div
{
  display: flex;
  width: 1900px;
  justify-content: space-between;
}
#box02>div>h3>img
{
  width: 28px; height: 28px;
  padding: 5px 0;
}
#box02>div>div>ul
{
  display: block;
  height: 28px;
  overflow: hidden;
  position: relative;
}
#box02>div>div>ul>li
{
  padding: 5px;
}
#box02>div>div>ul>li>a
{
  font: bold 22px '나눔스퀘어_ac',sans-serif;
  color: #000;
}
/* btn */
#box02 .button
{
  width: 84px; height: 28px;
  border: 1px solid #8B8B8B;
  /* margin-left: 700px; */
  display: flex;
}
.button>p.up,.button>p.down,.button>p.plus
{
  width: 14px;
  padding: 4px 7px;
  cursor: pointer;
}
.button>p.down
{
  border-left: 1px solid #8B8B8B;
}
.button>p.plus
{
  border-left: 1px solid #8B8B8B;
}

/* box03 */
#box03
{
  width: auto;
  padding: 60px 0;
  background-color: #EDEDED;
}
#box03>div
{
  /* width: auto; */
  height: 607px;
}
#box03>div>h3
{
  text-align: center;
  font: bold 40px '나눔스퀘어_ac',sans-serif;
  padding-bottom: 60px;
}
#box03>div>h3>i
{
  font: 20px '나눔스퀘어_ac',sans-serif;
  color: #929292;
}
#box03>div>div
{
  width: 780px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
/* today */
.today
{
  border: 1px solid #E09F25;
  background-color: #fff;
  width: 350px; height: 384px;
  text-align: center;
}
.today>h4
{
  padding-top: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #E09F25;
}
.today>h4>strong
{
  font: bold 28px '나눔스퀘어_ac',sans-serif;
}
.today>h4>span
{
  font: bold 16px '나눔스퀘어_ac',sans-serif;
  color: #929292;
}
.today>.today-time
{
  font: bold 28px '나눔스퀘어_ac',sans-serif;
  color: #E09F25;
  margin: 25px;
}
.today>.perfomance
{
  width: 183px; height: 126px;
  margin: auto;
  color: #929292;
  overflow: auto;
}
.today>.perfomance>ul>li
{
  display: flex;
  align-items: center;
}
.today>.perfomance>ul>li>p
{
  float: left;
  width: 60px;
  padding-right: 14px;
  font: 16px '나눔스퀘어_ac',sans-serif;
}
.today>.perfomance>ul>li>span
{
  float: left;
  width: 123px;
  text-align: left;
  font: 16px '나눔스퀘어_ac',sans-serif;
  line-height: 40px;
}
.today>.today-box
{
  font: 18px '나눔스퀘어_ac',sans-serif;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.today>.today-box>a
{
  width: 140px; height: 28px;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 13px;
}
.today>.today-box>a:nth-child(1)
{
  background-color: #F1CE30;
  padding: 10px 0 5px;
}
.today>.today-box>a:nth-child(2)
{
  background-color: #9FC238;
  padding: 10px 0 5px;
}
/* smart */
.smart
{
  border: 1px solid #E09F25;
  background-color: #fff;
  width: auto; height: 305px;
  text-align: center;
}
.smart>div{}
.smart>div>h4
{
  color: #E09F25;
  padding-top: 36px;
  padding-bottom: 39px;
}
.smart>div>h4>strong
{
  font: bold 28px '나눔스퀘어_ac',sans-serif;
}
.smart>div>ul
{
  display: flex;
  width: 346px; height: 196px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  background-color: #E09F25;
}
.smart>div>ul>li
{
  width: 171px;
  height: 64px;
  background: url(/icon/03/ticket.png) no-repeat 10px;
  background-size: 44px;
  border: 1px solid #fff;
  cursor: pointer;
}
.smart>div>ul>li:nth-child(2)
{
  background: url(/icon/03/year_ticket.png) no-repeat 10px;
  background-size: 50px;
}
.smart>div>ul>li:nth-child(3)
{
  background: url(/icon/03/smart.png) no-repeat 10px;
  background-size: 48px;
}
.smart>div>ul>li:nth-child(4)
{
  background: url(/icon/03/experience.png) no-repeat 12px;
  background-size: 47px;
}
.smart>div>ul>li:nth-child(5)
{
  background: url(/icon/03/restaurant.png) no-repeat 13px;
  background-size: 45px;
}
.smart>div>ul>li:nth-child(6)
{
  background: url(/icon/03/parking.png) no-repeat 13px;
  background-size: 44px;
}
.smart>div>ul>li:hover
{
  background: url(/icon/03/ticket_cha.png) no-repeat 10px;
  background-size: 44px;
  background-color: #fff;
  border: 1px solid #E09F25;
}
.smart>div>ul>li:nth-child(2):hover
{
  background: url(/icon/03/year_ticket_cha.png) no-repeat 10px;
  background-size: 50px;
  background-color: #fff;
  border: 1px solid #E09F25;
}
.smart>div>ul>li:nth-child(3):hover
{
  background: url(/icon/03/smart_cha.png) no-repeat 10px;
  background-size: 48px;
  background-color: #fff;
  border: 1px solid #E09F25;
}
.smart>div>ul>li:nth-child(4):hover
{
  background: url(/icon/03/experience_cha.png) no-repeat 13px;
  background-size: 47px;
  background-color: #fff;
  border: 1px solid #E09F25;
}
.smart>div>ul>li:nth-child(5):hover
{
  background: url(/icon/03/restaurant_cha.png) no-repeat 13px;
  background-size: 45px;
  background-color: #fff;
  border: 1px solid #E09F25;
}
.smart>div>ul>li:nth-child(6):hover
{
  background: url(/icon/03/parking_cha.png) no-repeat 13px;
  background-size: 44px;
  background-color: #fff;
  border: 1px solid #E09F25;
}
.smart>div>ul>li:hover>a
{
  color: #E09F25;
}
.smart>div>ul>li:nth-child(3)>a
{
  padding-top: 12px;
}
.smart>div>ul>li:nth-child(4)>a
{
  padding-top: 12px;
  text-align: right;
}
.smart>div>ul>li:nth-child(5)>a
{
  padding-top: 12px;
  text-align: right;
}
.smart>div>ul>li>a
{
  color: #fff;
  float: right;
  padding-top: 22px;
  padding-right: 11px;
  font: bold 18px '나눔스퀘어_ac',sans-serif;
}
/* smart-box */
.smart-box{}
.smart-box>dl
{
  width: 350px; height: 69px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  margin-top: 13px;
  border-radius: 13px;
}
.smart-box>dl>dt
{
  width: 180px;
  height: 44px;
  border: 1px solid #E09F25;
  border-radius: 13px;
  font: bold 18px '나눔스퀘어_ac',sans-serif;
  padding: 15px 5px 10px 13px;
  cursor: pointer;
}
.smart-box>dl>dt:nth-child(1)
{
  margin-right: 7px;
  background: url(/icon/03/public_transportation.png) no-repeat 3px;
  background-size: 44px;
  background-color: #fff;
}
.smart-box>dl>dt:nth-child(1):hover
{
  background: url(/icon/03/public_transportation_cha1.png) no-repeat 3px;
  background-size: 44px;
  background-color: #E09F25;
}
.smart-box>dl>dt:nth-child(1):hover>a
{
  color: #fff;
}
.smart-box>dl>dt:nth-child(2)
{
  margin-left: 7px;
  background: url(/icon/03/map.png) no-repeat 3px;
  background-size: 44px;
  background-color: #fff;
}
.smart-box>dl>dt:nth-child(2):hover
{
  background: url(/icon/03/map_cha1.png) no-repeat 3px;
  background-size: 44px;
  background-color: #E09F25;
}
.smart-box>dl>dt:nth-child(2):hover>a
{
  color: #fff;
}
.smart-box>dl>dt>a
{
  color: #E09F25;
}

/* box04 */
#box04
{
  width: auto;
  height: 546px;
  padding-bottom: 48px;
}
#box04>div{}
#box04>div>h3
{
  text-align: center;
  font: bold 40px '나눔스퀘어_ac',sans-serif;
  padding-top: 50px;
  padding-bottom: 60px;
}
#box04>div>h3>i
{
  font: 20px '나눔스퀘어_ac',sans-serif;
  color: #929292;
}
#box04>div>.promotion{}
#box04>div>.promotion>ul
{
  /* width: 1200px; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 48px;
}
#box04>div>.promotion>ul>li
{
  width: 210px; height: 188px;
  border: 1px solid #8B8B8B;
  text-align: center;
  padding-top: 22px;
  background: url(/icon/04/shinhan_p.png) no-repeat center;
  cursor: pointer;
}
#box04>div>.promotion>ul>li:nth-child(2)
{
  background: url(/icon/04/creditcard_p.png) no-repeat center;
}
#box04>div>.promotion>ul>li:nth-child(3)
{
  background: url(/icon/04/KT_p.png) no-repeat center;
}
#box04>div>.promotion>ul>li:nth-child(4)
{
  background: url(/icon/04/kakaopay_p.png) no-repeat center;
}
#box04>div>.promotion>ul>li:nth-child(5)
{
  background: url(/icon/04/kiz_p.png) no-repeat center;
}
#box04>div>.promotion>ul>li>a>span
{
  color: #929292;
  font: bold 20px '나눔스퀘어_ac',sans-serif;
}
#box04>div>.pluspromo
{
  width: 285px;
  /* height: 68px; */
  background-color: #F1CE30;
  border-radius: 13px;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  cursor: pointer;
}
#box04>div>.pluspromo>a
{
  color: #fff;
  font: 20px '나눔스퀘어_ac',sans-serif;
}

/* box05 */
#box05
{
  background: url(/image/web.jpg) no-repeat center;
  width: auto; height: 1284px;
  overflow: hidden;
}
#box05>div>h3
{
  text-align: center;
  font: bold 40px '나눔스퀘어_ac',sans-serif;
  color: #fff;
  padding-top: 68px;
  padding-bottom: 60px;
}
#box05>div>h3>i
{
  font: 20px '나눔스퀘어_ac',sans-serif;
  color: #fff;
}
#box05>div>.block
{
  
}
#box05>div>.block>ul
{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 70px;
}
#box05>div>.block>ul>li
{
  width: 200px; height: 35px;
  background-color: #E3E3E3;
  border: 1px solid #E3E3E3;
  border-radius: 13px;
  text-align: center;
  padding: 15px 0 0 0 ;
  margin-left: 49px;
  cursor: pointer;
  opacity: 100%;
  box-shadow: none;
}
#box05>div>.block>ul>li:hover
{
  background-color: #2D4F9E;
  border: 1px solid #2D4F9E;
}
#box05>div>.block>ul>li>a
{
  color: #fff;
  font: bold 18px '나눔스퀘어_ac',sans-serif;
}
#box05>div>ul
{
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1400px;
  height: 763px;
  overflow: hidden;
}
#box05>div>ul>li
{
  width: 400px;
  height: 370px;
  margin-right: 15px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 10px #000;
}
#box05>div>ul>li:nth-child(1),#box05>div>ul>li:nth-child(6)
{
  width: 530px;  
}

#box05>div>ul>li>figure{}
#box05>div>ul>li>figure>a
{
  display: block;
}
#box05>div>ul>li>figure>a>img
{
  position: relative;
  width: 100%;
  max-height: 264px;
}
#box05>div>ul>li>figure>a>figcaption
{
  position: relative;
  padding: 15px;
}
#box05>div>ul>li>figure>a>figcaption>dl
{
  font: bold 22px '나눔스퀘어_ac',sans-serif;
  color: #000;
}
#box05>div>ul>li>figure>a>figcaption>dl>dd
{
  font-size: 18px;
  margin-top: 10px;
  margin-left: 25px;
  color: #494949;
}

/* 더 많은 어트랙션보기 */
#box05>div>.attplus
{
  margin-top: 70px;
  text-align: center;
}
#box05>div>.attplus>a
{
  display: inline-block;
  width: 250px;
  height: 65px;
  background-color: #fff;
  border: 1px solid #2D4F9E;
  border-radius: 13px;
  font: bold 20px '나눔스퀘어_ac',sans-serif;
  color: #2D4F9E;
  line-height: 65px;
  margin: auto 80px;
  text-align: center;
  cursor: pointer;
}
#box05>div>.attplus>a:nth-child(2)
{
  background-color: #2D4F9E;
  color: #fff;
}

/* box06 */
#box06
{
  background-color: #EEEEEE;
  width: auto;
  height: 587px;
}
#box06>div>h3
{
  text-align: center;
  font: bold 40px '나눔스퀘어_ac',sans-serif;
  color: #000;
  padding-top: 68px;
  padding-bottom: 60px;
}
#box06>div>h3>i
{
  font: 20px '나눔스퀘어_ac',sans-serif;
  color: #92929292;
}
.everclip
{
  
}
.everclip>ul
{
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
}
.everclip>ul>li
{
  cursor: pointer;
}
.everclip>ul>li>a
{
  font: 18px '나눔스퀘어_ac',sans-serif;
  color: #000;
}
.everclip>ul>li>a>p{}
.everclip>ul>li>a>p>img
{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.everclip>ul>li>a>i
{
  background: url(/icon/play.png) no-repeat;
  background-size: 58px;
}
.everclip>ul>li>a>.text
{
  padding-top: 20px;
}

/* aside01 */
aside
{
  background-color: #D9D9D9;
  height: 46px;
}
aside>div
{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
aside>div>.sns
{
  margin-left: 100px;
}
aside>div>.sns>ul
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 185px;
}
aside>div>.sns>ul>li
{
  width: 35px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 5px;
  background: url(/icon/insta2.png) no-repeat center;
  background-size: 25px;
  text-indent: -9999%;
  cursor: pointer;
}
aside>div>.sns>ul>li:nth-child(2)
{
  background: url(/icon/facebook2.png) no-repeat 12px;
  background-size: 25px;
  border-left: 1px solid #929292;
}
aside>div>.sns>ul>li:nth-child(3)
{
  background: url(/icon/youtube2.png) no-repeat 12px;
  background-size: 25px;
  border-left: 1px solid #929292;
}
aside>div>.sns>ul>li:nth-child(4)
{
  background: url(/icon/twitter2.png) no-repeat 15px;
  background-size: 25px;
  border-left: 1px solid #929292;
}
aside>div>a
{
  width: 91px;
  height: 46px;
  background-color: #737373;
  cursor: pointer;
  margin-right: 100px;
}
aside>div>a>p
{
  font: bold 20px '나눔스퀘어_ac',sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 12px;
}
/* aside02 */
.qv
{
  position: fixed;
  top: 40%; right: 15px;
  width: 75px; height: 75px;
  border-radius: 50%;
}
.qv>div>ul{}
.qv>div>ul>li
{
  width: 75px; height: 75px;
  border-radius: 50%;
  background-color: #D9D9D9;
  text-align: center;
  cursor: pointer;
}
.qv>div>ul>li:nth-child(5)
{
  width: 50px; height: 50px;
  
  margin-left: 12px;
}
.qv>div>ul>li:nth-child(4)>a
{
  padding-top: 15px;
}
.qv>div>ul>li:nth-child(5)>a
{
  color: #E09F25;
  width: 50px;
  padding-top: 17px;
}
.qv>div>ul>li:hover
{
  background-color: #E09F25;
}
.qv>div>ul>li:hover:nth-last-child(1)>a
{
  color: #D9D9D9;
}
.qv>div>ul>li>a
{
  display: block;
  color: #fff;
  font: 14px '나눔스퀘어_ac',sans-serif;
  width: 75px; height: 75px;
  padding-top: 20px;
  /* line-height: 75px; */
}

/* footer */
footer
{
  padding: 30px 0;
  background-color: #494949;
  text-align: center;
}
footer>small
{
  font: bold 16px '나눔스퀘어_ac',sans-serif;
  color: #fff;
}
